*{
    font-family: "Moderustic", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, transform 0.3s;
  }
  
  h1:hover {
    color: #647a08;
    transform: scale(1.05);
  }

#logueo{
    #tituloRegistro{
        display: flex;
        justify-content: space-around;
    }
}